<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <form action="" (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group  mt-4" >
            <label for="">Email Adress</label>
            <input type="email" id="email" class="form-control" ngModel required email #email="ngModel"> 
            <span class="help-block" *ngIf="!email.valid && email.touched" style="color: red;">Please enter your email.</span>
          </div>
          


          <label for="">Password</label>
          <input type="password" class="form-control" ngModel required>
          
          <div class="my-3">
            <label for="">Subscription</label>
            <select name="subscription" id="subscription" ngModel required subscription #subscription="ngModel" [(ngModel)]="default">
              <option value="Basic">Basic</option>
              <option value="Advanced">Advanced</option>
              <option value="Pro">Pro</option>
            </select>
          </div>

          <div class="">
            <button class="btn btn-primary " (click)="suggestUserName()">Submit</button>
          </div>
          
        </div>
      </form>
    </div>
  </div>
</div>   -->

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
            <div class="form-group mt-5">
              <label for="username">Username</label>
              <input type="text" id="username" class="form-control" name="username" ngModel required>
            </div>
            <button class="btn btn-primary my-3" type="button" (click)="suggestUserName()">Suggest an Username</button>
            <div class="form-group mb-3">
              <label for="email">Mail</label>
              <input type="email" id="email" class="form-control" name="email" ngModel required email #email="ngModel" >
              <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email.</span>
            </div>
          
           <p *ngIf="!userData.valid && userData.touched" class="here">User Data is invalid.</p> 
          <div class="form-group">
            <label for="secret">Secret Questions</label>
            <select id="secret" class="form-control" name="secret" [(ngModel)]="defaultQuestion">
              <option value="pet">Your first Pet?</option>
              <option value="teacher">Your first teacher?</option>
            </select>
          </div>
          
          <div class="form-group">
            <textarea name="text" id="text" cols="30" rows="3" [(ngModel)]="answer" ngModel required text #text="ngModel"></textarea>
            <span class="help-block" *ngIf="!text.valid && text.touched">Say Something</span>
            <p>Do you think she will like me? yes/ no; {{answer}}</p>

          </div>
          <div class="form-group">
            <label for="">Subscriptions</label>
            <select name="select" id="select" [(ngModel)]="subscription">
              <option value="Basic">Basic</option>
              <option value="Advanced">Advanced</option>
              <option value="Pro">Pro</option>
            </select>
          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched">Your Data is invalid</p>
        <button class="btn btn-primary my-3 " type="submit">Submit</button>
      </form>
    </div>
  </div>
  <hr> -->
  <!-- <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Username: {{user.username}}</p>
      <p>Email: {{user.email}}</p>
       <p>Subscriptions: {{user.Subscriptions}}</p> -->
    <!-- </div>
  </div> -->
<!-- </div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <form action="" (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" ngModel required email #email="ngModel">
          <span *ngIf="!email.valid && email.touched" style="color: red;">Email is required.</span>
        </div>
      </form>
    </div>
  </div>
</div> -->

<!-- <div class="container"> 
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form action="" (ngSubmit)="onSubmit()" #f="ngForm">
      <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
        
          <label for="email">Email</label>
          <input type="email" id="email" name="email" ngModel required email #email="ngModel">
          <span *ngIf="!email.valid && email.touched" style="color: red;">Email is required.</span>
        
          <label for="subscription">Subscription</label>
          <select name="subscription" id="subscription" ngModel required subscription #subscription="ngModel" [(ngModel)]="advanced">
            <option value="Basic">Basic</option>
            <option value="Advanced">Advanced</option>
            <option value="Pro">Pro</option>
          </select>
          <span *ngIf="!subscription.invalid && subscription.touched" style="color: red;">Subscription is required.</span>

          <label for="password">Password</label>
          <input type="password" id="password" name="password" ngModel required password #password="ngModel">
          <span *ngIf="!password.invalid && password.touched" style="color: red;">Password is required.</span>

          <button class="btn btn-primary" (click)="Submit()">Submit</button>
      </div>
    </form>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Email: {{user.email}}</p>
      <p>Subscription: {{user.subscription}}</p>
      <p>Password: {{user.password}}</p>
    </div>
  </div>
</div> -->

<!-- Final -->

<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form  (ngSubmit)="onSubmit()" #signupForm="ngForm">
        <div class="form-group">
          <label for="email">Mail</label>
          <input
            type="email"
            id="email"
            ngModel
            name="email"
            required
            email
            class="form-control"
            #email="ngModel"
          >
          <span class="help-block" *ngIf="!email.valid && email.touched" style="color: red;">Please enter a valid email!</span>
        </div>
        <div class="form-group">
          <label for="subscription">Choose a Subscription</label>
          <select
            name="subscription"
            id="subscription"
            [ngModel]="selectedSubscription"
            class="form-control"
          >
            <option
              *ngFor="let subscription of subscriptions" [value]="subscription"
            >
              {{ subscription }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            ngModel
            required
            class="form-control"
            #password="ngModel"
          >
          <span class="help-block" *ngIf="!password.valid && password.touched" style="color: red;">Please enter a valid password.</span>
        </div>
        <p *ngIf="!signupForm.valid && signupForm.touched">The form is invalid.</p>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
  <br>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Email: {{user.email}}</p>
      <p>Subscription: {{user.subscription}}</p>
      <p>Password: {{user.password}}</p>
    </div>
  </div>
</div>